# Title
## Heading2
### Heading3
#### Heading4
##### Heading5
###### Heading6

- Esc + m: Converting code cell to markdown
- Esc + y: Convert markdown cell to code cell

### UnOrdered List
- Point1
- Point2
    - Sub-Point
    
### Ordered List
1. List1
2. List2
    1. Subpoints

### Python Basics
- To Display output
    - print('Display')

In [1]:
print('Hello EEE')

Hello EEE

- To give input from user
    - input('Describe')
    - int(input('Describe'))
    - float(intpu('Describe'))

**Python is Dynamically typed**
- No need to declare data types
    - in c, c+, or java ---> int var_name = 10

In [2]:
10

10

#### Data Types
- Numerical
    - integer (int)
    - floating (float)
- String
    - str
- Boolean
    - True
    - False
- List
- Tuple
- Dictionary
- Sets

In [3]:
type(2999)

int

In [5]:
type(9.00)

float

In [6]:
type('9999')

str

In [7]:
type(True)

bool

### Type Casting (Data type Convertion)

In [8]:
# Convert integer to float
print(99)
float(99)

99

99.0

In [9]:
int(123.9)

123

In [10]:
str(123.9)

'123.9'

In [11]:
int('apssdc')

ValueError: invalid literal for int() with base 10: 'apssdc'

In [13]:
print(ord('a'))## ASCII value of "a"
print(ord('Z'))
print(ord('{'))

97
90
123

In [15]:
print(chr(121))

y

### Keyword
- Keywords are used to perform special task

In [16]:
import keyword

In [17]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Variables
- Variables are used to store any value
- Syntax: Variable_name = value
### Identifier
- To name the variable

*Rules*
- Starts with alphabets or Underscore(_)
- Should not start with numbers or special symbols
- Varible name can contains numbers but not special symbols

### Operators
- Arithmetic operators
    - +,-, * , /, %, ** , //

In [1]:
number1 = 10
number2 = 5

In [2]:
print(number1 + number2)
print(number1 - number2)
print(number1 * number2)
print(number1 % number2)
print(number1 / number2)

15
5
50
0
2.0

In [5]:
print(20/3)
print(20//3)# floor division

6.666666666666667
6

In [6]:
print(2 ** 4)

16

- Assignment operators
    - =, +=, -=, * =, /=, %=, //=, **=

In [7]:
var1 = 20

In [8]:
var2 = 15 
var2 = var2 + 5
print(var2)

20

In [9]:
var3 = 15 
var3 += 5
print(var3)

20

- Logical operator
    - and, or

In [11]:
(5000 > 4000) and (50 > 10)

True

In [12]:
(5000 > 4000) or (50 < 10)

True

In [13]:
(5000 > 4000) and (50 < 10)

False

- Comparision operators
    - ==, !=, >, >=, <, <=

In [16]:
print(109 == 109)
print(109 >= 109)
print(109 > 109)

True
True
False

- Identity operator
    - is, is not

In [17]:
students1 = ['sowmya','Reshmitha']
students2 = ['sowmya','Reshmitha']

In [19]:
print(students1 == students2)
print(students1 is students2)

True
False

- Membership operator
    - in, not in

In [21]:
print(10 in [10,3,88,76])
print('v' in 'pvpsit')

True
True

### Strings
- Collection of letters, words numbers or special symbols which is enclosed between ' ' or " "

In [22]:
string1 = ''# Empty string
string1

''

In [23]:
string2 = str()# Empty string
string2

''

In [24]:
string3 = 'PVPS Engineering College'
string3

'PVPS Engineering College'

In [25]:
# Accessing values using Index
string3[0]

'P'

In [27]:
print(len(string3))
print(max(string3))
print(min(string3))

24
r

In [28]:
string3[-1]

'e'

In [29]:
## Indexing
##  0  1  2  3  4
## -5 -4 -3 -2 -1
##  H  E  L  L  O

In [31]:
string3[0:4]

'PVPS'

In [32]:
string3[5:8]

'Eng'

In [33]:
string3[0::2]# Alternate or every 2nd value

'PP niern olg'

In [34]:
string3[0::3]# very 3rd value

'PSnnrgoe'

In [35]:
string3[::-1]# Reverse string

'egelloC gnireenignE SPVP'

In [36]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [37]:
string3.upper()

'PVPS ENGINEERING COLLEGE'

In [38]:
'apssdc'.isupper()

False

In [39]:
'@#$%-  '.isalnum()

False

In [40]:
rollnumer = '20501a0252'
rollnumer.startswith('21')

False

In [41]:
string3

'PVPS Engineering College'

In [42]:
string3.split()

['PVPS', 'Engineering', 'College']

In [43]:
type(string3), type(string3.split())

(str, list)

In [44]:
string3.split('n')

['PVPS E', 'gi', 'eeri', 'g College']

In [46]:
string4 = 'Python DA ML'

In [45]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [47]:
string4.replace('ML',"Machine Learning")

'Python DA Machine Learning'

In [48]:
string5 = '''Winner of the 2016 Online 
Journalist of the Year prize from the 
Southern California Journalism Awards and a 
2017 Best in the West award, Capital & Main 
has had stories co-published in more than 30 
media outlets, from The Atlantic, Time, 
Reuters, The Guardian and Fast Company to The 
American Prospect, Grist, Slate and the Daily 
Beast. Working with top writers, editors and 
visual artists, we cover income inequality, 
climate change, the green economy, housing, 
health care, public education, immigration, 
race, and criminal justice.'''

In [49]:
string5.splitlines() # Split line by line in list

['Winner of the 2016 Online ',
 'Journalist of the Year prize from the ',
 'Southern California Journalism Awards and a ',
 '2017 Best in the West award, Capital & Main ',
 'has had stories co-published in more than 30 ',
 'media outlets, from The Atlantic, Time, ',
 'Reuters, The Guardian and Fast Company to The ',
 'American Prospect, Grist, Slate and the Daily ',
 'Beast. Working with top writers, editors and ',
 'visual artists, we cover income inequality, ',
 'climate change, the green economy, housing, ',
 'health care, public education, immigration, ',
 'race, and criminal justice.']

In [51]:
string3

'PVPS Engineering College'

In [52]:
string3.count('e')

4

### Conditional Statements
- if
- else
- elif

**if condition**
- Syntax:
```python
if condition:
    statement 1
    statement 2
    statement N```

In [53]:
number1 = 50
if number1%4 == 0:  ## Condition
    print('Number is Divisible') ## Statement

**else**
- Syntax:
```python
if condition:
    statements
else:
    statements```

In [54]:
if number1%4 == 0:  ## Condition
    print('Number is Divisible') ## Statement
else:
    print('Number is not Divisible')

Number is not Divisible

In [1]:
rollnumber2 = 'AOEEE20103'

- Write a program to check wheteher given rollnumber is seniors or 2nd years or juniors
    - if rollnumber contains '20', then rollnumber belongs to 2nd year
    - if rollnumber contains '21', then rollnumber belongs to Juniors.
    - else rollnumber belongs to Seniors.

In [2]:
if '20' in rollnumber2:
    print(rollnumber2, 'Belongs to 2nd years')
elif '21' in rollnumber2:
    print(rollnumber2, 'Belongs to Juniors')
else:
    print(rollnumber2, 'Belongs to Seniors')

AOEEE20103 Belongs to 2nd years

In [6]:
rollnumber2[5:7] == '20'

True

In [5]:
rollnumber2[5:].startswith('20')

True