### Loops
- Loops are used to iterate over a Sequence
- Sequence
    - range(values)
    - strings
    - List
    - tuple
    - dictionary
    - sets
- types
    1. for loop
    2. while loop

In [1]:
range(25)

range(0, 25)

In [2]:
range(10,25)

range(10, 25)

In [3]:
# for iter_variable in Sequence:
    ## Statements
    
    
## for (iter_variable = 0, condition, ++/--)
    ## statements

In [4]:
for i in range(1,11):
    print(i)
    
## i = 1, i<11, i = 1 + 1
## i = 2, i<11, i = 2 + 1
#  .................
# i = 11, i<11 (loop ends)

1
2
3
4
5
6
7
8
9
10

In [6]:
for i in range(25,37):
    print(i, end='       ')

25       26       27       28       29       30       31       32       33       34       35       36

- Print letter by letter in given string
    - string = 'Offline Program'

In [7]:
str = 10

In [8]:
str(10)

TypeError: 'int' object is not callable

In [1]:
str(10)

'10'

In [2]:
string1 = 'Offline Program'
for i in string1:
    print(i)

O
f
f
l
i
n
e

P
r
o
g
r
a
m

In [4]:
# 10  9  8  7  6  5  4  3  2  1
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

- Count no of digits in given integer
    - number = 8765432109

In [6]:
number = 8765432109
len(str(number))

10

In [7]:
# 5 x 1 = 5
# 5 x 2 = 10
#
#
# 5 x 10 = 50

In [10]:
for i in range(1,11):
    print('5 X',i,'=', 5 * i)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

- Write a program to count the values which is divisible by 2 and 7 in range(1, 500)

In [13]:
count = 0
for i in range(1,501):
    if (i%2 == 0) and (i%7 ==0):
        print(i, end = '   ')
        count += 1
        
print('\n',count)

14   28   42   56   70   84   98   112   126   140   154   168   182   196   210   224   238   252   266   280   294   308   322   336   350   364   378   392   406   420   434   448   462   476   490
 35

In [14]:
#  *
#  *  *
#  *  *  *
#  *  *  *  *

In [41]:
for i in range(1,5):# i = 2
    for j in range(0,i): #j = 0 to i
        print('*',end = '\t')
    print('\n')

*

*	*

*	*	*

*	*	*	*

In [42]:
#initiaize
# while(condition):
#    statement
#    ++ / --

In [43]:
i = 10
while(i<=25):
    print(i)
    i += 1

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [1]:
i = 25
while(i>10):
    i -= 1
    print(i)

24
23
22
21
20
19
18
17
16
15
14
13
12
11
10

- break: It will terminates the loop 
- continue: It will skips the value.

In [3]:
for i in 'APSSdC':
    if i == 'd':
        break
    print(i)

A
P
S
S

In [4]:
for i in 'APSSdC':
    if i == 'd':
        continue
    print(i)

A
P
S
S
C

### Functions
- Function is a block of code used to perform specific task.
- code reusablity
- Syntax:
    - def func_name(arg1, arg2,...) :
        - block of code
    - func_name(arg1,ar2,...)
- Types
    1. Pre-defined functions
    2. User-defined functions

In [7]:
## Pre defined functions
print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [9]:
round(8.7), round(8.4)

(9, 8)

In [10]:
abs(-56)

56

In [5]:
addition1 = 120 + 320
addition1

440

In [6]:
type(addition1)

int

In [11]:
def addition2(arg1, arg2):
    return arg1 + arg2

In [12]:
addition2

In [13]:
addition2(120, 320)

440

In [14]:
addition2(45,897) ## code reusablity

942

- Write a function to check whether the given number is leap year or not
    - year = 1800

In [15]:
def leap_year(year):
    if year%400 == 0:
        print('Lear year')
    elif year%4 == 0 and year%100 != 0:
        print('Leap year')
    else:
        print('Not Leap year')

In [17]:
leap_year(1800)

Not Leap year

- Write a function to print the count of letters in each word in given paragraph.

In [19]:
string2 = '''NEW DELHI: Sports Minister Anurag 
Thakur on Monday physically handed over trophies 
to the winners of National Sports Awards 2020 
after the award ceremony was held virtually last 
year due to the COVID-19 pandemic.'''

In [21]:
for i in string2.split():
    print(len(i))

3
6
6
8
6
6
2
6
10
6
4
8
2
3
7
2
8
6
6
4
5
3
5
8
3
4
9
4
4
3
2
3
8
9

**Types of functional arguments**
- Keyword arguments
- Default arguments
- Variable length arguments
- Keyword length arguments

In [22]:
# 1. Keyword arguments (named arguments)
## syntax: name = value

def keyword_arg(name, rollnumber):
    return name, rollnumber

In [23]:
keyword_arg(name = 'Mounika', rollnumber=1111)

('Mounika', 1111)

In [24]:
# 2. Deafult argument
def default_arg(name, rollnumber=2222):
    return name, rollnumber

In [25]:
default_arg('Swathi')

('Swathi', 2222)

In [26]:
default_arg('Rohit',3333)

('Rohit', 3333)

In [27]:
# 3. Variable length arguemnt
## synatx: *args
def variable_len(name, *rollnumber):
    return name, rollnumber

In [29]:
variable_len('Lavany',111,222,333,444)

('Lavany', (111, 222, 333, 444))

In [30]:
# 4. Keyword length argument
## syntax: **arg

In [33]:
def keyword_len(name, **rollnumber):
    return name, rollnumber

In [34]:
keyword_len('Gopi', rollnumber1 = 111, 
            rollnumber2 = 222)

('Gopi', {'rollnumber1': 111, 'rollnumber2': 222})

In [35]:
keyword_len('Lokesh',age=20,branch='EEE')

('Lokesh', {'age': 20, 'branch': 'EEE'})

- Write a function to print letters which is having even ASCII value in given string
    - string3 = 'Data Analysis'

In [41]:
string3 = 'Data Analysis'
for i in string3:
    #print(i, ord(i))
    if ord(i)%2 == 0:
        print(i)

D
t

n
l

### Data Structures
- Store a collection of different data type values in one variable.
- Types
    - List: [ ]
    - Tuple: (  )
    - Dictrionary: { key : value}
    - Sets: { }

### List
- List are muatable, indexed, ordered
- [  ]

In [42]:
# Create a List
list1 = list() # Empty list
list1

[]

In [43]:
list2 = [] # Empty list
list2

[]

In [44]:
list3 = [1,-8,67,89,6,50,44]
list3

[1, -8, 67, 89, 6, 50, 44]

In [47]:
print(len(list3))
print(sum(list3))
print(max(list3))
print(min(list3))
print(sorted(list3))
print(sorted(list3, reverse = True))

7
249
89
-8
[-8, 1, 6, 44, 50, 67, 89]
[89, 67, 50, 44, 6, 1, -8]

In [46]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [49]:
list3

[1, -8, 67, 89, 6, 50, 44]

In [48]:
# Indexing
list3[2]

67

In [50]:
list3[-1]

44

In [52]:
list3[1:5]

[-8, 67, 89, 6]

In [53]:
list3[0::2]

[1, 67, 6, 44]

In [55]:
list3[::-1]# Reverse list

[44, 50, 6, 89, 67, -8, 1]

In [56]:
# list are mutable(can change)
list3[1] = 18
list3

[1, 18, 67, 89, 6, 50, 44]

In [57]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

- To add values in list
    - append() 
    - extend()

In [58]:
list4 = ['apssdc',29.8, 22, 44,'Machines',701]
list4

['apssdc', 29.8, 22, 44, 'Machines', 701]

In [59]:
list4.append(6)

In [60]:
list4

['apssdc', 29.8, 22, 44, 'Machines', 701, 6]

In [61]:
list4.extend([90,'DA'])

In [62]:
list4

['apssdc', 29.8, 22, 44, 'Machines', 701, 6, 90, 'DA']

- To remove values
    - pop()
    - remove()
    - clear()

In [65]:
list4.pop()

'DA'

In [66]:
list4

['apssdc', 29.8, 22, 44, 'Machines', 701, 6, 90]

In [67]:
list4.pop(0)

'apssdc'

In [68]:
list4

[29.8, 22, 44, 'Machines', 701, 6, 90]

In [69]:
list4.remove('Machines')

In [70]:
list4

[29.8, 22, 44, 701, 6, 90]

In [71]:
list4.clear()

In [72]:
list4

[]

In [73]:
list5 = [[20,30],2,3,[90,100],9,10]
list5

[[20, 30], 2, 3, [90, 100], 9, 10]

In [77]:
list5[0]

[20, 30]

In [78]:
list5[0][1]

30

In [1]:
list6 = [12, True, 62.99, 'PYTHON', False, 255, 999, 'DA']
int_list = []
str_list = []
others = []

In [3]:
for i in list6:
    if type(i) == int:
        int_list.append(i)
    elif type(i) == str:
        str_list.append(i)
    else:
        others.append(i)

In [4]:
print(int_list)
print(str_list)
print(others)

[12, 255, 999]
['PYTHON', 'DA']
[True, 62.99, False]

In [2]:
type(12)

int

In [5]:
type(True)

bool