### Comprehensions
- Shorthand codeing
- Types
    - List Comprehension
    - Tuple Comprehension
    - Dictionary Comprehension
    - Set Comprehension

**List Comprehensions**
- List comprehensions can create one new list from the other iterables.
- Syntax:
    - [ Statement ..for loop ]

In [1]:
list1 = []
for i in range(1,11):
    list1.append(i)

In [2]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
# List comprehensions
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
# conditional statements using comprehensions
number = 8989
if number%2 == 0:  ## Condition
    print('Even')  ## if Statement
else: 
    print('Odd')  ## else Statement

Odd

In [7]:
# [STatement  if condition else statement]
number2 = 8988
['Even' if(number2%2 == 0) else 'Odd']

['Even']

In [9]:
for i in range(30,61):
    if i %2 == 0:
        print(i, end = '\t')

30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60

In [10]:
# [statement for loop if(condition)]
[i for i in range(30,61) if(i%2 == 0)]

[30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60]

In [11]:
# [Statement if(condition) else statement for loop]
['Even' if(i%2 == 0) else 'Odd' for i in range(30,61)]

['Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even']

- Take a range of numbers 400 to 500,
    - if number divisible by 5 print divisible by 5
    - if number divisible by 7 print divisible by 7
    - else not divisible by 5 and 7

In [12]:
list2 = []
for i in range(400, 501):
    if i%5 == 0:
        list2.append('divisible by 5')
    elif i%7 == 0:
        list2.append('divisible by 7')
    else: 
        list2.append(' Not divisible')

In [13]:
list2

['divisible by 5',
 ' Not divisible',
 ' Not divisible',
 ' Not divisible',
 ' Not divisible',
 'divisible by 5',
 'divisible by 7',
 ' Not divisible',
 ' Not divisible',
 ' Not divisible',
 'divisible by 5',
 ' Not divisible',
 ' Not divisible',
 'divisible by 7',
 ' Not divisible',
 'divisible by 5',
 ' Not divisible',
 ' Not divisible',
 ' Not divisible',
 ' Not divisible',
 'divisible by 5',
 ' Not divisible',
 ' Not divisible',
 ' Not divisible',
 ' Not divisible',
 'divisible by 5',
 ' Not divisible',
 'divisible by 7',
 ' Not divisible',
 ' Not divisible',
 'divisible by 5',
 ' Not divisible',
 ' Not divisible',
 ' Not divisible',
 'divisible by 7',
 'divisible by 5',
 ' Not divisible',
 ' Not divisible',
 ' Not divisible',
 ' Not divisible',
 'divisible by 5',
 'divisible by 7',
 ' Not divisible',
 ' Not divisible',
 ' Not divisible',
 'divisible by 5',
 ' Not divisible',
 ' Not divisible',
 'divisible by 7',
 ' Not divisible',
 'divisible by 5',
 ' Not divisible',
 ' Not divisible',
 ' Not divisible',
 ' Not divisible',
 'divisible by 5',
 ' Not divisible',
 ' Not divisible',
 ' Not divisible',
 ' Not divisible',
 'divisible by 5',
 ' Not divisible',
 'divisible by 7',
 ' Not divisible',
 ' Not divisible',
 'divisible by 5',
 ' Not divisible',
 ' Not divisible',
 ' Not divisible',
 'divisible by 7',
 'divisible by 5',
 ' Not divisible',
 ' Not divisible',
 ' Not divisible',
 ' Not divisible',
 'divisible by 5',
 'divisible by 7',
 ' Not divisible',
 ' Not divisible',
 ' Not divisible',
 'divisible by 5',
 ' Not divisible',
 ' Not divisible',
 'divisible by 7',
 ' Not divisible',
 'divisible by 5',
 ' Not divisible',
 ' Not divisible',
 ' Not divisible',
 ' Not divisible',
 'divisible by 5',
 ' Not divisible',
 ' Not divisible',
 ' Not divisible',
 ' Not divisible',
 'divisible by 5',
 ' Not divisible',
 'divisible by 7',
 ' Not divisible',
 ' Not divisible',
 'divisible by 5']

In [14]:
['divisible by 5' if(i%5 == 0)
else 'divisible by 7' if(i%7 == 0)
else 'not divisible'
for i in range(400, 500)]

['divisible by 5',
 'not divisible',
 'not divisible',
 'not divisible',
 'not divisible',
 'divisible by 5',
 'divisible by 7',
 'not divisible',
 'not divisible',
 'not divisible',
 'divisible by 5',
 'not divisible',
 'not divisible',
 'divisible by 7',
 'not divisible',
 'divisible by 5',
 'not divisible',
 'not divisible',
 'not divisible',
 'not divisible',
 'divisible by 5',
 'not divisible',
 'not divisible',
 'not divisible',
 'not divisible',
 'divisible by 5',
 'not divisible',
 'divisible by 7',
 'not divisible',
 'not divisible',
 'divisible by 5',
 'not divisible',
 'not divisible',
 'not divisible',
 'divisible by 7',
 'divisible by 5',
 'not divisible',
 'not divisible',
 'not divisible',
 'not divisible',
 'divisible by 5',
 'divisible by 7',
 'not divisible',
 'not divisible',
 'not divisible',
 'divisible by 5',
 'not divisible',
 'not divisible',
 'divisible by 7',
 'not divisible',
 'divisible by 5',
 'not divisible',
 'not divisible',
 'not divisible',
 'not divisible',
 'divisible by 5',
 'not divisible',
 'not divisible',
 'not divisible',
 'not divisible',
 'divisible by 5',
 'not divisible',
 'divisible by 7',
 'not divisible',
 'not divisible',
 'divisible by 5',
 'not divisible',
 'not divisible',
 'not divisible',
 'divisible by 7',
 'divisible by 5',
 'not divisible',
 'not divisible',
 'not divisible',
 'not divisible',
 'divisible by 5',
 'divisible by 7',
 'not divisible',
 'not divisible',
 'not divisible',
 'divisible by 5',
 'not divisible',
 'not divisible',
 'divisible by 7',
 'not divisible',
 'divisible by 5',
 'not divisible',
 'not divisible',
 'not divisible',
 'not divisible',
 'divisible by 5',
 'not divisible',
 'not divisible',
 'not divisible',
 'not divisible',
 'divisible by 5',
 'not divisible',
 'divisible by 7',
 'not divisible',
 'not divisible']

In [15]:
string1 = '''Trinity College Dublin uses cookies to enable
our website to operate, improve your browsing experience 
and provide personalised advertising which we believe may
be of interest to you.'''

- Print all the vowels in the above string

In [17]:
vowels = ['a','e','i','o','u']
for i in string1:
    if i in vowels:
        print(i, end = '\t')

i	i	o	e	e	u	i	u	e	o	o	i	e	o	e	a	e	o	u	e	i	e	o	o	e	a	e	i	o	e	o	u	o	i	e	e	i	e	e	a	o	i	e	e	o	a	i	e	a	e	i	i	i	e	e	i	e	e	a	e	o	i	e	e	o	o	u

### functional programming
- lambda
- map
- filter

**Lambda**
- Also known as anonymous function.
- Used for creating small functions.
- Syntax:
    - lambda arg1, arg2, ... arg N : statement

In [18]:
def addition1(arg1, arg2):
    return arg1 + arg2

In [19]:
addition1(10,20)

30

In [20]:
type(addition1)

function

In [21]:
lambda arg1, arg2 : arg1 + arg2

In [22]:
addition2 = lambda arg1, arg2 : arg1 + arg2

In [23]:
addition2(20,33)

53

In [24]:
def test(x):
    if x > 10 and x < 20:
        return True
    else:
        return False

In [25]:
print(test(20))
print(test(12))

False
True

In [26]:
test2 = lambda x: True if(x > 10 and x < 20) else False

In [27]:
test2(25)

False

- Take a value n
    - if n is less than 10, return n * 10
    - if n is between 11 and 60, return n * 30
    - else return n

In [28]:
def Value(n):
    if n<10:
        return n * 10
    elif n>11 and n<60:
        return n * 30
    else:
        return n

In [29]:
print(Value(787))
print(Value(55))

787
1650

In [30]:
Value2 = lambda n : n * 10 if n<10 else n * 30 if n>11 and n<60 else n

In [31]:
print(Value2(90))
print(Value2(3))

90
30

**map()**
- map will take function as an argument
- Syntax: map(function, no.of.iterables)

In [34]:
def addition3(arg1):
    return arg1 + arg1

In [36]:
addition3(270)

540

In [2]:
def addition4(arg1):
    return arg1 + arg1

for i in [2,55,9,87]:
    print(addition4(i))

4
110
18
174

In [4]:
list(map(addition4, [2,55,9,87]))

[4, 110, 18, 174]

In [16]:
# list2 = ['Mounika', 'Niharika', 'Ram', 'abcka']
# for i in list2:
#     list3 = list(map(i.endswith,  list2))
# #list(map(str))

In [18]:
# 'Apssdc'.endswith('dc')

In [19]:
list2 = ['Mounika', 'Niharika', 'Ram', 'abcka']
list(map(str.upper,list2))

['MOUNIKA', 'NIHARIKA', 'RAM', 'ABCKA']

In [26]:
# Without using keywords
list(map(lambda x : (x%2==0) ,range(50,70)))

[True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False]

In [28]:
# Using keywords
list(map(lambda x : True if(x%2==0) else False, range(50,70)))

[True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False]

In [29]:
list(map(lambda x : x if(x%2==0), range(50,70)))

SyntaxError: invalid syntax (<ipython-input-29-1a3701f4c25f>, line 1)

**filter()**
- Syntax: filter(function, no.of iterables)

In [31]:
list(filter(lambda x : (x%2==0), range(50,70)))

[50, 52, 54, 56, 58, 60, 62, 64, 66, 68]

### Object Oriented Programming
- Class
- Object
- Constructor
- Inheritance

**Class**
- Class is a template or blueprint of object
- We can create no.of object using one class

In [32]:
# Syntax:

# class Class_Name:
#       def Method_Name():
#              body of method
#Class_Name()

In [35]:
n = 1000  # n is an object of int
print(type(n))# int is a class

<class 'int'>

In [36]:
n2 = 1000.9
print(type(n2))

<class 'float'>

In [37]:
class Class_EEE:
    number = 1000.9
    string = 'EEE Batch 2'

In [38]:
number# Error

NameError: name 'number' is not defined

In [39]:
Class_EEE.number

1000.9

In [41]:
class function_Class: # Name of Class
    def letters(): # method
        print('HELLO')

In [43]:
function_Class.letters()

HELLO

**Object**
- Object is an instance of class.

In [44]:
class function_Class2: # Name of Class
    def letters(self): # method
        print('HELLO EEE')

In [45]:
# Creating Object
obj1 = function_Class2()
obj1

In [46]:
obj1.letters()

HELLO EEE

**Constructor**
- Constructor is a method( or function) used for instanting an object of class
- Synatx:
    - __ init __(self)
- Types
    - Non-parameterized constructor
    - Parameterized constructor

In [48]:
print(dir(float))

['__abs__', '__add__', '__bool__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getformat__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__set_format__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', 'as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real']

In [49]:
class constructor_Class:
    def __init__(self):
        print('This is constructor')

In [50]:
constructor_Class()

This is constructor

In [56]:
# Parameterized constructor
class constructor_Class2:
    def __init__(self, a, b):
        print('This is constructor')
        self.a = a
        self.b = b
    def multi(self):
        print(self.a + self.b)

In [61]:
obj3 = constructor_Class2(10,20)
obj3.multi()

This is constructor
30

**Inheritance**
-  Inherit means recive something
- Inheritance is defined as a class that inherits all the methods and variables to another class

In [62]:
# Syntax:


# class Parent:
#     body of Parent Class

# class Child(Parent):
#   body of Child Class

In [67]:
class Super_Class:
    def method1(self):
        print('This is Parents Property')
class Child_Class(Super_Class):
    def method2(self):
        print(' This is Derived class')

In [68]:
object1 = Child_Class()
object1.method2()

 This is Derived class

In [69]:
object1.method1()

This is Parents Property

### Sets
- Sets are unordered and unindexed
- Sets are mutable
- { } 
- set()

In [70]:
set1 = {999,'a',7.9,'z', 'l'}
set1

{7.9, 999, 'a', 'l', 'z'}

In [71]:
set1[0] # UnIndexed

TypeError: 'set' object is not subscriptable

In [72]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [73]:
set2 = {'LUDO',2020, 'PubG', 2021, 'Sohail', 90}
set3 = {'Candy', 2021, 90, 91,'PubG'}

set2.difference(set3)

{2020, 'LUDO', 'Sohail'}

In [74]:
set2

{2020, 2021, 90, 'LUDO', 'PubG', 'Sohail'}

In [75]:
set2.difference_update(set3)

In [76]:
set2

{2020, 'LUDO', 'Sohail'}

In [78]:
set4 = {'PVPSIT', 'IIT','VVIT','VRS'}
set5 = {'PVPSIT','VRS'}

set4.intersection(set5)

{'PVPSIT', 'VRS'}

In [79]:
set4

{'IIT', 'PVPSIT', 'VRS', 'VVIT'}

In [83]:
help(set4.isdisjoint)

Help on built-in function isdisjoint:

isdisjoint(...) method of builtins.set instance
    Return True if two sets have a null intersection.